@use '../tools/' as *;

// --------------------
/*   --- root css --- */
// --------------------

:root {
    --font-size: #{$font-size-100};
    --H1: #{$H1--Mob};
    --H2: #{$H2--Mob};
    --par: #{$par--Mob};
    --container: #{$cont__width--Mob};
}
